extends layout

block content
  //- h1 = title 

  h1.title #{ category.name }
  p.description  #{ category.description }

  hr
  .buttons-container
    p
      a.delete(href=category.url + "/delete") Delete Category
    p
      a.update(href=category.url + "/update") Update Category
