* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  --color-idle: #f0f9ff;
  --color-active: #0ea5e9;
  --color-disabled: #cccccf;
  --color-menu-background: #075985;
  --color-background: #1c1f20;
  --color-focus: yellow;

  background-color: var(--color-menu-background);
}

ul {
  list-style: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  row-gap: 0;
  align-content: stretch;
  justify-content: center;

  overflow-x: hidden;
}

.content {
  background-color: var(--color-background);
  padding: 2em 1em;
  color: var(--color-idle);
  padding: 2em 2em;
}
.content .title {
  padding-bottom: 2em;
  text-transform: uppercase;
  font-size: 2rem;
}

.content ul {
  color: --var(--color-active);
}
.content ul li a {
  color: var(--color-idle);
  font-family: helvetica; 
  text-decoration: none;
  text-transform: uppercase;
  line-height: 140%;
}
.content ul li a:hover {
  text-decoration: underline;
}

.content ul li a:active {
  color: var(--color-focus);
}
.content h2 {
  line-height: 140%;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.content .description {
  line-height: 140%;
  font-size: 1.5rem;
  margin-bottom: 2em;
}
.content-text {
  line-height: 160%;
  font-size: 1.25rem;
}

.form-group {
  line-height: 160%;
  font-size: 1.25em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.25em;
}
.form-group input,
select {
  width: 70%;
  padding-left: 1em;
  font-size: 1.25rem;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
}

.delete,
.update,
.submit {
  color: var(--color-idle);
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;

  border: 2px solid var(--color-menu-background);
  border-radius: 8px;
}

.submit {
  /* background-color: var(--color-menu-background); */
  background-color: #1c1f20;
}

.delete:hover,
.update:hover,
.submit:hover {
  background-color: #555;
  cursor: pointer;
}

.delete:active,
.update:active,
.submit:active {
  background-color: black;
}

hr {
  margin: 2em 0;
}

/* SIDEBAR */
.content ul li a:focus {
  color: yellow;
}
.sidebar {
  margin: 0 0 0 0;
  padding: 1em 4px;
  background-color: var(--color-menu-background);
  min-width: 190px;
}
.sidebar header {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
.sidebar-menu {
  position: relative;
  padding: 0;
  margin: 0;
  justify-self: end;
}
.sidebar-menu li {
  position: relative;
}
.sidebar-menu li a {
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  color: var(--color-idle);

  text-align: left;
  height: 2.25rem;
  position: relative;
  border-bottom: 1px solid var(--color-background);
  display: flex;
  gap: 0.5rem;
}
/* SIDEBAR ICONS */
.icon {
  fill: var(--color-idle);
}
.sidebar-menu li:hover > a > .icon {
  fill: var(--color-active);
  animation: moveToTop 230ms ease-in-out;
}
/* MENU STRONG */
.sidebar-menu li a strong {
  text-transform: uppercase;
}
.sidebar-menu li:hover a span {
  opacity: 1;
  animation: moveToLeft 230ms ease-in-out;
}
.sidebar-menu li:hover > a {
  color: var(--color-active);
  border: 0;
  box-shadow: 0 0 5px var(--color-idle); /*#ddd;*/
  border-left: 2px solid var(--color-active);
  /* border-right: 2px solid var(--color-active); */
}
.sidebar-menu li ul {
  position: absolute;
  min-width: 14rem;
  padding: 0;
  margin: 0;
  background: var(--color-menu-background);
  opacity: 0;
  visibility: hidden;

  transition: all 450ms linear;
  /* -webkit-transition: all 300ms linear; */
  /* z-index: 1000; */

  right: 450px;
  top: 0px;
  border-left: 2px solid var(--color-active);
}
/* ARROW */
.sidebar-menu li ul:before {
  content: "";
  position: absolute;
  top: 1rem;
  left: -6px;
  border-right: 4px solid var(--color-active);
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  z-index: 5;
}
.sidebar-menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  /* animation: moveToLeft 250ms ease-in-out; */
  transition-delay: 0.05s;

  left: 101%;
}

/* RIGHT BAR */
.rightbar {
  padding: 3em 1em;
  background-color: var(--color-menu-background);
  line-height: 160%;
}
.rightbar p {
  padding: 0.5em;
  color: var(--color-idle);
}

.rightbar p a {
  text-transform: uppercase;
  color: black
}

/* ANIMATIONS */
@keyframes moveToTop {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes moveToLeft {
  from {
    opacity: 0;
    transform: translateX(150%);
  }
  to {
    transition-delay: 2s;
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes moveToRight {
  from {
    opacity: 0;
    transform: translateX(-200%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* SCREEN SIZE */
@media (max-width: 640px) {
  .sidebar {
    width: 50%;
  }
  .content {
    width: 100%;
  }
  .rightbar {
    width: 100%;
  }

  .container {
    justify-content: flex-start;
    min-width: 400px;
  }
}

@media (min-width: 640px) {
  .sidebar {
    width: 30%;
  }
  .content {
    width: 70%;
  }
  .rightbar {
    width: 100%;
  }
}
@media (min-width: 800px) {
  .sidebar {
    width: 20%;
  }
  .content {
    width: 60%;
  }
  .container {
    min-width: 800px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
  .rightbar {
    width: 20%;
  }
}
